.card{
    padding: 1em;
    height: 80%;
}

.My-Card{
    display: flex;
    margin: 10px;
    gap: 1rem;
    justify-content: center;
    padding: 1em;
    align-items: center;
    text-align: center;
    background-color: blueviolet;
   
}
